<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Subscribe by Email</title>

</head>
<body>
    

    <header class="home_header">

    </header>

    <div class="__subscription_section">

        <div class="__subscription_section_title_container">

            <h2 class="__subscription_section_title">Subscribe to our <span>Newsletters<span></h2>

        </div>
        
        <div class="__subscription_section_description">
       
            <p>Subscribe to our newsletter to receive updates to our feed.</p>
            <p>We keep your data confidential and do not spam your mailbox</p>
            
        </div>
        <form>

            <label>Your email:</label>
            <input type="email" name="email" id="__user_email" placeholder="example@gmail.com">

            <div class="__subscription_section_button_container">

                <button class="__subscription_section_submit_button">Submit</button>

            </div>
            

        </form>

    </div>

</body>
</html>